<div id="content">
        <h1>Grupy w naszym przedszkolu</h1>
        <p>On this page are a number of styles you can copy &amp; paste to any page in your website.</p>
        <div class="portfolio_box margin_left">
          <div class="image"><a href="#" title="Story Time" class="lightbox"><%= image_tag("portfoli.jpg", :width=>"410", :height=>"189") %></a></div>
          <div class="portfolio_button">
            <div class="titles special_font">Story Time</div>
            <div class="button"><a href="#"><%= image_tag("buttons_.jpg", :width=>"49", :height=>"18") %></a></div>
          </div>
          <div class="description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</div>
          <div class="date">
            <ul>
              <li>December 20, 2010</li>
              <li> |  Category: Website Design</li>
            </ul>
          </div>
        </div>
        <div class="portfolio_box margin_left">
          <div class="image"><a href="#" title="Painting" class="lightbox"><%= image_tag("portfolj.jpg", :width=>"410", :height=>"189") %></a></div>
          <div class="portfolio_button">
            <div class="titles special_font">Painting </div>
            <div class="button"><a href="#"><%= image_tag("buttons_.jpg", :width=>"49", :height=>"18") %></a></div>
          </div>
          <div class="description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</div>
          <div class="date">
            <ul>
              <li>December 20, 2010</li>
              <li> |  Category: Website Design</li>
            </ul>
          </div>
        </div>
        <div class="portfolio_box margin_left">
          <div class="image"><a href="#" title="Sandpit" class="lightbox"><%= image_tag("portfolk.jpg", :width=>"410", :height=>"189") %></a></div>
          <div class="portfolio_button">
            <div class="titles special_font">Sandpit</div>
            <div class="button"><a href="#"><%= image_tag("buttons_.jpg", :width=>"49", :height=>"18") %></a></div>
          </div>
          <div class="description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</div>
          <div class="date">
            <ul>
              <li>December 20, 2010</li>
              <li> |  Category: Website Design</li>
            </ul>
          </div>
        </div>
        <div class="portfolio_box margin_left">
          <div class="image"><a href="#" title="Watercolors" class="lightbox"><%= image_tag("portfoll.jpg", :width=>"410", :height=>"189") %></a></div>
          <div class="portfolio_button">
            <div class="titles special_font">Watercolors</div>
            <div class="button"><a href="#"><%= image_tag("buttons_.jpg", :width=>"49", :height=>"18") %></a></div>
          </div>
          <div class="description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius</div>
          <div class="date">
            <ul>
              <li>December 20, 2010</li>
              <li> |  Category: Website Design</li>
            </ul>
          </div>
        </div>
    <br class="clear" />
      </div>
      <br class="clear" />
    </div>
